<p id="notice">
  <%= notice %>
</p>
<div>
  <% if admin_signed_in? %>
    <span><%= button_to 'Sign Out', destroy_admin_session_path, method: :delete %></span>
  <% else %>
    <span><%= link_to 'Sign In', new_admin_session_path %></span>
    <span><%= link_to 'Sign Up', new_admin_registration_path %></span>
  <% end %>
</div>

<h1 class="newscast-title">Last News</h1>

<table class="table">
  <thead>
    <tr>
			<th>Time</th>
      <th>Title</th>
      <th>Description</th>
      <th>Image</th>
      <th>Show</th>
			<th>Edit</th>
			<th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @newscasts.each do |newscast| %>
      <tr id="options" data-controller="visibility">
        <td data-visibility-target="hideable">
          <%= newscast.created_at %>
        </td>
        <td data-visibility-target="hideable">
          <%= newscast.title %>
        </td>
        <td data-visibility-target="hideable">
          <%= newscast.description %>
        </td>
        <td data-visibility-target="hideable">
          <% if newscast.image_url %>
            <%= image_tag newscast.image_url, style: "width: 200px" %>
          <% end %>
        </td>
        <td data-visibility-target="hideable">
          <%= link_to 'Show', admin_user_newscast_path(newscast) %>
        </td>
        <td data-visibility-target="hideable">
          <%= link_to 'Edit', edit_admin_user_newscast_path(newscast) %>
        </td>
        <td data-visibility-target="hideable">
          <%= link_to 'Destroy', admin_user_newscast_path(newscast), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <td data-visibility-target="hideable">
          <button data-action="visibility#hideTargets">Hide newscast</button>
        </td>
        <td>
          <button data-action="visibility#toggleTargets">Show newscast</button>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newscast', new_admin_user_newscast_path , class: "button" %>
